header {
  background-color: #571523;
  padding: 16px 0;
}

header h1 {
  color: white;
  font-size: 40px;
  font-weight: 100;
  font-style: italic;
  display: inline-block;
  position: relative; /*ej de posicionamiento pero se puede armar con cajas flexibles*/
  margin-left: 10px;
}

footer {
  background-color: #ccc;
  clear: both;
  color: #333;
  text-align: center;
  padding: 5px 0px;
  margin-top: 20px;
}

body {
  font-family: 'Open Sans' , sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.holder {
  max-width: 960px;
  margin: 0 auto;
}

h2 {
  color: #97233c;
  font-weight: 400;
}
