nav {
    background-color: #97233c;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
/*La propiedad flex-grow de CSS especifica el factor de crecimiento de un
elemento flexible (que tiene asignado display:flex),
en su dirección principal. El factor de crecimiento especifica qué cantidad
del espacio restante dentro del contenedor flexible,
debería ocupar el item en cuestión.*/
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul li a.activo {
    background-color: #ffffff;
    color: #97233c;
}