header {
    background-color: #571523;
    padding: 16px 0;
}

header h1 {
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative; /*ej de posicionamiento pero se puede armar con cajas flexibles*/
    margin-left: 10px;
}