<div class="container" style="margin: 100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Agregar un nuevo precio</h4>
            <form action="/admin/precios/agregar" method="post" enctype="multipart/form-data">
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Producto" name="producto"/>
                </div>
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Tipo Producto" name="tipo_producto"/>
                </div>
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Precio" name="precio"/>
                </div>
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Tipo Precio" name="tipo_precio"/>
                </div>
                <div class="mb-3 row">
                    <label>Imagen: <input type="file" name="imagen" id="imagen"/></label>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>