
@media only screen and (max-width: 800px) {
body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
#contenedor {
	width: 100%;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: auto;
}
nav {
	background: rgb(207, 154, 84);
	/* float: auto; */
	width: 100%;
}
ul {
	list-style-type:none;
	line-height: 30px;
	margin-bottom: 0px;
	margin-top: 0px;
	
}
a {
	color:black;
	text-decoration: none;
	/* font-family: 'Times New Roman', Times, serif; */
}
section {
	background: #F1F2C0;
	/* float: auto; */
	margin: 0;
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;


}
aside {
	background: #CCC59E;
	/* float: auto; */
	width: 100%;
}

h2 {
	padding-left: 10px;
}

p {
	padding-left: 10px;
}
}